force-app/main/default/flows/Change_status_of_case_to_closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_case_product_to_list</name>
        <label>Assign case product to list</label>
        <locationX>419</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>Case_Products_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Product_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_invoking_single_case_product</name>
        <label>Assign invoking single case product</label>
        <locationX>672</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>Case_Product_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Product_Single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Product_Single.Strategy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_records.Strategy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_case_product_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_case_product</name>
        <label>Assign single case product</label>
        <locationX>422</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>Case_Product_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Product_Single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_records.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Product_Single.Strategy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Strategy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_case_product_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If status is pending change the value of variable CaseIsReadyToClose to false</description>
        <name>If_status_is_pending</name>
        <label>If status is pending</label>
        <locationX>1110</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>CaseIsReadyToClose</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_case_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_new_status</name>
        <label>Assign new status</label>
        <locationX>755</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>Assign_single_case_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_looped_record_is_equal_to_triggering_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_records.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_invoking_single_case_product</targetReference>
            </connector>
            <label>Check if looped record is equal to triggering record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_status_is_pending</name>
        <label>Check if status is pending</label>
        <locationX>1331</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Loop_through_case_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_case_products.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_status_is_pending</targetReference>
            </connector>
            <label>Status is pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_value_of_CaseIsReadyToClose</name>
        <label>Check value of CaseIsReadyToClose</label>
        <locationX>1575</locationX>
        <locationY>630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_the_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseIsReadyToClose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_status_of_case_to_closed</targetReference>
            </connector>
            <label>Close the case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change status of case to closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change status of case to closed</label>
    <loops>
        <name>Loop_through_case_products</name>
        <label>Loop through case products</label>
        <locationX>1338</locationX>
        <locationY>622</locationY>
        <collectionReference>Case_Products_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_status_is_pending</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_value_of_CaseIsReadyToClose</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_records</name>
        <label>Loop through records</label>
        <locationX>772</locationX>
        <locationY>622</locationY>
        <collectionReference>Get_Case_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_case_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Products</name>
        <label>Get Case Products</label>
        <locationX>771</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_status_of_case_to_closed</name>
        <label>Change status of case to closed</label>
        <locationX>1791</locationX>
        <locationY>630</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>646</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Case_Products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Case_Product__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Product_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
    <variables>
        <name>Case_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
    <variables>
        <name>Case_Products_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
    <variables>
        <name>CaseIsReadyToClose</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
    <variables>
        <name>Invoking_flow_single_case_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
</Flow>
