force-app/main/default/flows/Create_Order_Automatically_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Product_To_Order</name>
        <label>Assign Opportunity Product To Order</label>
        <locationX>594</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSingle.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_Automatically</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSingle.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_In_Opportunity.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSingle.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_In_Opportunity.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSingle.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_In_Opportunity.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSingle.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products_In_Opportunity.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Order_Product_To_Order_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Order_Product_To_Order_Product_Collection</name>
        <label>Assign Single Order Product To Order Product Collection</label>
        <locationX>285</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>OrderItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products_In_Opportunity</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_While_Creating_Ordcer</name>
        <label>Error While Creating Ordcer</label>
        <locationX>1011</locationX>
        <locationY>628</locationY>
        <customErrorMessages>
            <errorMessage>Error occurred while creating order. Please try again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_While_Getting_Products_For_Order</name>
        <label>Error While Getting Products For Order</label>
        <locationX>1011</locationX>
        <locationY>782</locationY>
        <customErrorMessages>
            <errorMessage>It looks like there are no products for Order record.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>No_Syncing_Quote_On_Opportunity</name>
        <label>No Syncing Quote On Opportunity</label>
        <locationX>1063</locationX>
        <locationY>432</locationY>
        <customErrorMessages>
            <errorMessage>Make sure that quote is accepted and set as syncing then close the opportunity.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check</name>
        <label>Check Syncing Quote</label>
        <locationX>738</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>No_Syncing_Quote_On_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Is Not Available</defaultConnectorLabel>
        <rules>
            <name>Quote_Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SyncedQuote.IsSyncing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SyncedQuote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Automatically</targetReference>
            </connector>
            <label>Quote Is Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Order Automatically From Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order Automatically From Opportunity</label>
    <loops>
        <name>Loop_Through_Products_In_Opportunity</name>
        <label>Loop Through Products In Opportunity</label>
        <locationX>591</locationX>
        <locationY>930</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Product_To_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Product_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Automatically</name>
        <label>Create Order Automatically</label>
        <locationX>591</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_Creating_Ordcer</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerAuthorizedById</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerAuthorizedDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product_Records</name>
        <label>Create Order Product Records</label>
        <locationX>994</locationX>
        <locationY>1028</locationY>
        <inputReference>OrderItemsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>587</locationX>
        <locationY>785</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products_In_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_Getting_Products_For_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>646</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OrderItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItemSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>PrimaryQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>QuoteInOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
